# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Node.js
node_modules/
npm-debug.log*
package-lock.json
yarn.lock

# Optional npm cache directory
.npm

# Logs
logs
*.log

# Coverage directory
coverage/